Package: big-executable
Version: 1.0.0-1big5
Depends: yad, konsole
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:56
Description: Easy way to execute binaries and shell script in dolphin

