Package: big-executable
Version: 1.0.0-1big1
Depends: yad, konsole
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:16
Description: Easy way to execute binaries and shell script in dolphin

